.projects-container {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    border-radius: 12px;

    .projects-btns-container {
        background-color: var(--bg-content-color);
        flex: 1;
        text-align: center;
        padding-top: 10px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;

        h3 {
            font-size: 16px;
            border-bottom: 3px solid var(--bg-color);
            margin-bottom: 10px;
            padding-bottom: 10px;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            button {
                position: relative;
                border: none;
                color: var(--text-color);
                border-radius: 6px;
                background-color: var(--bg-content-color);
                cursor: pointer;
                top: 0;
                padding: 10px 5px;
                font-weight: bold;
                transition: box-shadow .3s ease, top .3s ease, color .3s ease, background-color .3s ease;
    
                &:hover {
                    box-shadow: 2px 2px 5px rgb(0, 0, 0, .5);
                    top: -4px;
                    background-color: var(--bg-color);
                    color: var(--nav-text-hover-color);
                }

                &:active {
                    top: -1px;
                }
            }
        }
    }

    .projects-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        background-color: var(--text-color);
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 10px;
        flex: 4;

        h4 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
            text-align: justify;

            &:first-of-type {
                text-indent: 30px;
            }
        }

        a {
            height: auto;

            img {
                position: relative;
                top: 0;
                width: 100%;
                height: auto;
                max-width: 450px;
                border-radius: 12px;
                transition: box-shadow .3s ease, top .3s ease;

                &:hover {
                    box-shadow: 2px 2px 5px rgb(0, 0, 0, .5);
                    top: -4px;
                }
            }
        }
    }
}

